<style>
.myFooterStyle{
	display: block;
	margin: 10px 0 25px 0;
	border-bottom: 1px dotted #e4e9f0;
}

h2{
	font-size: 23px;
}
</style>

<footer id="footer" role="contentinfo">
		<div class="wrapper">
    <!--=== Footer v5 ===-->
    <div id="footer-v5" class="footer-v5">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About Us -->
                    <div class="col-md-5 sm-margin-bottom-40">
                        <div class="heading-footer"><a href="{{"/about-us" | prepend: site.baseurl}}"><h2>About Us</h2></a></div>
                        <p>BooleanMinds is a focussed corporate training company. We strive to provide the highest quality and cost effective training solutions to organizations.We have a group of experienced and qualified trainers, who are not only qualified in their domain and technical knowledge but also well versed in training skills as well.</p><br>

                           <a href="{{site.url}}">
                           <img src="{{"/images/landing/logofooter.png" | prepend: site.baseurl}}" alt="Logo" style="height:45px; width:245px; margin-left:-10px;">
                           </a>
                    </div>
                    <!-- End About Us -->

                    <!-- Recent News -->
                    <div class="col-md-4 sm-margin-bottom-40">
                        <div class="heading-footer"><h2>Technologies</h2></div>
                        <ul class="list-unstyled link-news">
                            <li><a href="{{"/trainings/liferay/developer" | prepend: site.baseurl}}">Liferay Technologies</a></li>
                            <li><a href="{{"/trainings/java/performance" | prepend: site.baseurl}}">Advance Java & Performance Tuning</a></li>
                            <li><a href="{{"/trainings/ui-technologies/backbone-js" | prepend: site.baseurl}}">UI Technologies</a></li>
                            <li><a href="{{"/trainings/atlassian/jira" | prepend: site.baseurl}}">Atlassian Products</a></li>
                            <li><a href="{{"/trainings/others/anypoint" | prepend: site.baseurl}}">Other Technologies</a></li>
                        </ul>
                    </div>
                    <!-- End Recent News -->

                    <!-- Latest Tweets -->
                    <div class="col-md-3">
                        <div class="heading-footer"><a href="{{"/contact-us" | prepend: site.baseurl}}"><h2>Contact Us</h2></a></div>
                            <p><i class="fa fa-home"></i>&nbsp;204, Labh Complex Old Padra Road Atladra Vadodara - Gujarat</p>
                            <p><i class="fa fa-phone"></i>&nbsp;Phone: 9825204250</p>
                            <p><i class="fa fa-envelope"></i>&nbsp;Email:sales@booleanminds.com</a></p>
                           	<br>
                           	<ul class="list-inline dark-social-v2">
                            	<li><a href="https://www.linkedin.com/company/booleanminds-technologies"><i class="rounded-sm fa fa-linkedin"></i></a></li>
                            	<li><a href="https://www.facebook.com/booleanminds"><i class="rounded-sm fa fa-facebook"></i></a></li>
                            	<li><a href="https://plus.google.com/100713634985070840654"><i class="rounded-sm fa fa-google-plus"></i></a></li>
                            	<li><a href="https://www.youtube.com/channel/UCNyuOsq1tap1Nh70qV8Gjzw"><i class="rounded-sm fa fa-youtube"></i></a></li>
                        	</ul>

                    </div>
                    <!-- End Latest Tweets -->
                </div>
            </div><!--/container -->
        </div>

        <div class="copyright">
            <div class="container">

            </div>
        </div>
    </div>
