<div class="wrapper">
  <div class="header-v5  header-sticky">

    <!-- Navbar -->
    <div class="navbar navbar-default mega-menu" role="navigation">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{site.url}}">
            <img id="logo-header" src="{{"/images/landing/logo.png" | prepend: site.baseurl}}" alt="Logo">
          </a>
        </div>

        <div class="collapse navbar-collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">

            <!-- Services -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services</a>
              <ul class="dropdown-menu">
                <li><a href="{{"/services/corporate-training" | prepend: site.baseurl}}">Corporate Training</a></li>
                <li><a href="{{"/services/public-training" | prepend: site.baseurl}}">Public Training</a></li>
                <li><a href="{{"/services/online-training" | prepend: site.baseurl}}">Online Training</a></li>
                <li><a href="{{"/services/campus-to-corporate" | prepend: site.baseurl}}">Campus to Corporate</a></li>
              </ul>
            </li>

            <!-- Trainings -->
            <li class="dropdown mega-menu-fullwidth">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trainings</a>
                <ul class="dropdown-menu">
                  <li>

                    <div class="mega-menu-content disable-icons">
                      <div class="container">
                        <div class="row equal-height">

                          <!-- Column 1 -->
                          <div class="col-md-3 equal-height-in">
                            <ul class="list-unstyled equal-height-list">
                              <li><h1><a class="mega_li" href="{{"/trainings/liferay/developer" | prepend: site.baseurl}}">Liferay</a></h1></li>
                              <li><a href="{{"/trainings/liferay/developer" | prepend: site.baseurl}}"><i class="fa fa-chevron-circle-right"></i>Liferay Developer</a></li>
                              <li><a href="{{"/trainings/liferay/portal-admin" | prepend: site.baseurl}}"><i class="fa fa-chevron-circle-right"></i>Liferay Portal Admin</a></li>
                              <li><a href="{{"/trainings/liferay/system-admin" | prepend: site.baseurl}}"><i class="fa fa-chevron-circle-right"></i>Liferay System Admin</a></li>
                            </ul>
                          </div>

                          <!-- Column 2 -->
                          <div class="col-md-3 equal-height-in">
                            <ul class="list-unstyled equal-height-list">
                              <li><h1><a class="mega_li" href="{{"/trainings/java/performance" | prepend: site.baseurl}}">Java</a></h1></li>
                              <li><a href="{{"/trainings/java/performance" | prepend: site.baseurl}}"><i class="fa fa-chevron-circle-right"></i>Java Performance</a></li>
                              <li><a href="{{"/trainings/java/concurrency" | prepend: site.baseurl}}"><i class="fa fa-chevron-circle-right"></i>Java Concurrency</a></li>
                              <li><a href="{{"/trainings/java/design-patterns" | prepend: site.baseurl}}"><i class="fa fa-chevron-circle-right"></i>Java Design Patterns</a></li>
                            </ul>
                          </div>

                          <!-- Column 3 -->
                          <div class="col-md-3 equal-height-in">
                            <ul class="list-unstyled equal-height-list">
                              <li><h1><a class="mega_li" href="{{"/trainings/ui-technologies/backbone-js" | prepend: site.baseurl}}">UI Technologies</a></h1></li>
                              <li><a href="{{"/trainings/ui-technologies/backbone-js" | prepend: site.baseurl}}"><i class="fa fa-chevron-circle-right"></i>Backbone JS</a></li>
                              <li><a href="{{"/trainings/ui-technologies/underscore-js-js" | prepend: site.baseurl}}"><i class="fa fa-chevron-circle-right"></i>Underscore JS</a></li>
                              <li><a href="{{"/trainings/ui-technologies/javascript" | prepend: site.baseurl}}"><i class="fa fa-chevron-circle-right"></i>JavaScript</a></li>
                              <li><a href="{{"/trainings/ui-technologies/html-css" | prepend: site.baseurl}}"><i class="fa fa-chevron-circle-right"></i>HTML5 & CSS3</a></li>
                            </ul>
                          </div>

                          <!-- Column 4 -->
                          <div class="col-md-3 equal-height-in">
                            <ul class="list-unstyled equal-height-list">
                              <li><h1><a class="mega_li" href="{{"/trainings/atlassian/jira" | prepend: site.baseurl}}">Atlassian</a></h1></li>
                              <li><a href="{{"/trainings/atlassian/jira" | prepend: site.baseurl}}"><i class="fa fa-chevron-circle-right"></i>Jira</a></li>
                              <li><a href="{{"/trainings/atlassian/confluence" | prepend: site.baseurl}}"><i class="fa fa-chevron-circle-right"></i>Confluence</a></li>
                              <li><a href="{{"/trainings/atlassian/bamboo" | prepend: site.baseurl}}"><i class="fa fa-chevron-circle-right"></i>Bamboo</a></li>
                              <li><h1><a class="mega_li" href="{{"/trainings/others/anypoint" | prepend: site.baseurl}}">Others</a></h1></li>
                            </ul>
                          </div>

                        </div>
                      </div>
                    </div>

                  </li>
                </ul>
              </li>

              <!-- Trainers -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trainers</a>
                <ul class="dropdown-menu">
                  <li><a href="{{"/trainers/shakir" | prepend: site.baseurl}}">Senior Liferay & Java Archiect</a></li>
                  <li><a href="{{"/trainers/parvez" | prepend: site.baseurl}}">Parvez Misarwala</a></li>
                  <li><a href="{{"/trainers" | prepend: site.baseurl}}">Other</a></li>
                </ul>
              </li>

              <!-- About Us -->
              <li><a href="{{"/about-us" | prepend: site.baseurl}}">About Us</a></li>

              <!-- Contact Us -->
              <li><a href="{{"/contact-us" | prepend: site.baseurl}}">Contact Us</a></li>

            </ul>
          </div>

        </div>
      </div>
      <!-- End of Navbar -->

    </div>
  </div>
